<p>Movie: <%= link_to review.movie.title, movie_path(review.movie) %></p>
<p>Text: <%= review.text %></p>
<p>Rating: <%= review.rating_out_of_ten %>/10</p>
<p>Created at: <%= review.created_at %></p>
<hr>    