   <% if object.errors.any? %>
     <div>
       <%= pluralize(object.errors.count, "error") %> prevented the account from being created:
       <ul>
         <% object.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
       </ul>
     </div>
   <% end %>